In [2]:
# Beginning of "prototyping_notebook.ipynb"

This notebook is for prototyping the functions nnd other logic that will be used in the Personal Finance Project.

Create a simple data pipeline that will take a CSV file, clean the data, ensure proper data types then load in MySQl before Phase 2.

Initiate current directory and import the CSV file.

In [4]:
# Import all necessary libraries and module
from pathlib import Path
import pandas as pd
import re # <-- for function removing apostrophes

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [25]:
# Get the current directory
current_directory=Path.cwd()
print(current_directory)

/run/media/joebravo/Extreme SSD/personal_finances_project

Confirmed that I am in the correct dirrectory.

In [26]:
# Navigate to directory containing file I wanted
file_path = Path('data/DEC_2023.csv')

raw_data = pd.read_csv(file_path)
raw_data['date'] = pd.to_datetime(raw_data['date']).dt.date

raw_data.head()

         date       day          description       category  amount
0  2023-12-01    Friday  Tlatoani Barbershop        haircut   60.00
1  2023-12-01    Friday           Andy's Boy           meds   60.00
2  2023-12-01    Friday       Nob Hill Foods         drinks   13.43
3  2023-12-01    Friday            TicketWeb  entertainment   49.20
4  2023-12-02  Saturday                 Lyft      rideshare    6.00

Successfully imported the CSV data file and got a quick snap shot of the data.

In [27]:
raw_data.dtypes

date            object
day             object
description     object
category        object
amount         float64
dtype: object

Use conditonal IF statements to check the data types of each column and then change if it's not the data type I want.

In [28]:
if raw_data.date.dtype != object:
    print("it's not an object dtype")
else:
    print("it's an object data type")

it's an object data type

Convert the day column from object to string for further data processing.

In [29]:
# raw_data['daycolumn'] = df['column'].astype('|S') # which will by default set the length to the max len it encounters

In [30]:
raw_data.tail()

           date       day             description   category  amount
105  2023-12-30  Saturday  Mira Mesa Crown Liquor     drinks   17.99
106  2023-12-30  Saturday                 Chevron  groceries    2.79
107  2023-12-30  Saturday             Hyatt House    parking   16.00
108  2023-12-31    sunday              Quick Mart     drinks   12.58
109  2023-12-31    sunday                 76 Fuel  groceries    3.32

In [31]:
# Convert 'col1' to lowercase
raw_data['day'] = raw_data['day'].str.lower()
raw_data.head()

         date       day          description       category  amount
0  2023-12-01    friday  Tlatoani Barbershop        haircut   60.00
1  2023-12-01    friday           Andy's Boy           meds   60.00
2  2023-12-01    friday       Nob Hill Foods         drinks   13.43
3  2023-12-01    friday            TicketWeb  entertainment   49.20
4  2023-12-02  saturday                 Lyft      rideshare    6.00

In [32]:
raw_data['day'].unique()

array(['friday', 'saturday', 'sunday', 'monday', 'tuesday', 'wednesday',
       'thursday'], dtype=object)

Want to buddle the above into a function to use in my DAG for this project.

In [33]:
def process_day_col(df):
    """Helper function to make all strings in day column lower case."""
    df['day'] = df['day'].str.lower()
    return df

In [34]:
# Test the above function
input_df = raw_data
input_df.head()

processed_df = process_day_col(input_df)
processed_df

,date,day,description,category,amount
0,2023-12-01,friday,Tlatoani Barbershop,haircut,60.00
1,2023-12-01,friday,Andy's Boy,meds,60.00
2,2023-12-01,friday,Nob Hill Foods,drinks,13.43
3,2023-12-01,friday,TicketWeb,entertainment,49.20
4,2023-12-02,saturday,Lyft,rideshare,6.00
5,2023-12-02,saturday,street vendor,eating out,5.00
6,2023-12-02,saturday,Hilton Hotel,hotels,259.66
7,2023-12-02,saturday,Mezcal,restaurant,73.74
8,2023-12-02,saturday,The Cheesecake Factory,restaurant,108.16
9,2023-12-02,saturday,Beverages & More,miscellaneous,26.88
10,2023-12-02,saturday,Lyft,rideshare,15.85
11,2023-12-02,saturday,Lyft,rideshare,10.74
12,2023-12-02,saturday,San Jose Improv,restaurant,19.40
13,2023-12-02,saturday,Lyft,rideshare,8.68
14,2023-12-03,sunday,Panda Express,eating out,14.40
15,2023-12-03,sunday,Beverages & More,drinks,22.47
16,2023-12-03,sunday,BJ's Restaurant,restaurant,37.16
17,2023-12-04,monday,East of Eden,meds,55.00
18,2023-12-04,monday,Starbucks,eating out,5.00
19,2023-12-04,monday,Mom - Venmo,cell phone bill,40.00
20,2023-12-04,monday,National General Insurance,auto insurance,48.61
21,2023-12-05,tuesday,Safeway,groceries,5.13
22,2023-12-06,wednesday,Cherry Bean Coffee,eating out,5.25
23,2023-12-06,wednesday,Viva Espresso,eating out,4.65
24,2023-12-06,wednesday,Dubber's Oldtown Bar & Grill,restaurant,79.74
25,2023-12-06,wednesday,Las Lomas Market & Gas,gas,20.00
26,2023-12-06,wednesday,Lyft,rideshare,15.66
27,2023-12-08,friday,Jack in the Box,eating out,9.25
28,2023-12-08,friday,Lyft,rideshare,14.89
29,2023-12-08,friday,The Beerded Bean,eating out,12.90
30,2023-12-08,friday,The Beerded Bean,drinks,10.93
31,2023-12-08,friday,The Beerded Bean,drinks,9.44
32,2023-12-09,saturday,Dataplicity,subscription,3.00
33,2023-12-10,sunday,The Otter's Den,drinks,12.50
34,2023-12-10,sunday,BJ's Restaurant,restaurant,50.53
35,2023-12-10,sunday,Gold's Gym - South Salinas,gym membership,50.00
36,2023-12-11,monday,Nob Hill Foods,eating out,7.99
37,2023-12-11,monday,Microsoft,subscription,6.99
38,2023-12-11,monday,Bank Processing Fee,fees,0.09
39,2023-12-12,tuesday,Taco Bell,eating out,9.00
40,2023-12-13,wednesday,Circle K,groceries,3.54
41,2023-12-13,wednesday,In-N-Out,eating out,21.52
42,2023-12-14,thursday,Nelnet,student loans,528.30
43,2023-12-14,thursday,Crystal - Venmo,child support,450.00
44,2023-12-14,thursday,East of Eden,meds,55.00
45,2023-12-15,friday,Circle K,groceries,7.00
46,2023-12-15,friday,Tlatoani Barbershop,haircut,60.00
47,2023-12-16,saturday,Total Wine & More,drinks,75.06
48,2023-12-16,saturday,California Pizza Kitchen,restaurant,102.82
49,2023-12-17,sunday,Bolsa Knolls Station,miscellaneous,33.12
50,2023-12-18,monday,Planet Fitness,gym membership,10.00
51,2023-12-18,monday,Lighthouse Publications,gifts,75.40
52,2023-12-20,wednesday,Taco Bell,eating out,10.00
53,2023-12-20,wednesday,Round 1,drinks,7.64
54,2023-12-20,wednesday,ExxonMobile,gas,48.06
55,2023-12-20,wednesday,Applebee's,restaurant,47.00
56,2023-12-21,thursday,Outback Steakhouse,restaurant,47.00
57,2023-12-21,thursday,UA Outlet,gifts,38.28
58,2023-12-21,thursday,Kohls,gifts,120.79
59,2023-12-21,thursday,Vans,gifts,120.19
60,2023-12-21,thursday,Bath & Body Works,gifts,42.60
61,2023-12-21,thursday,UA Outlet,gifts,24.61
62,2023-12-22,friday,East of Eden,meds,55.00
63,2023-12-22,friday,CVS/pharmacy,groceries,33.62
64,2023-12-22,friday,Apple Music,subscription,5.99
65,2023-12-23,saturday,MYO,eating out,23.46
66,2023-12-23,saturday,Taco Bell,eating out,6.30
67,2023-12-24,sunday,Jose David,drinks,40.00
68,2023-12-24,sunday,Pandora Jewelry,gifts,224.48
69,2023-12-24,sunday,Beverages & More,drinks,70.94
70,2023-12-25,monday,Clay's Liquor,miscellaneous,45.76
71,2023-12-25,monday,Amazon Prime Membership,subscription,16.30
72,2023-12-25,monday,Jack in the Box,eating out,15.15
73,2023-12-25,monday,Quick Stop,drinks,21.40
74,2023-12-26,tuesday,Jack in the Box,eating out,11.91
75,2023-12-26,tuesday,Pilot Flying J,groceries,3.78
76,2023-12-26,tuesday,Chevron,groceries,4.63
77,2023-12-27,wednesday,Target,groceries,42.78
78,2023-12-27,wednesday,Safeway,groceries,12.28
79,2023-12-27,wednesday,Max,subscription,9.99
80,2023-12-28,thursday,USPS,postage,11.00
81,2023-12-28,thursday,Nob Hill Foods,eating out,11.18
82,2023-12-28,thursday,US Postal Service,postage,11.00
83,2023-12-28,thursday,Nob Hill Foods,eating out,11.18
84,2023-12-29,friday,Nob Hill Foods,miscellaneous,25.69
85,2023-12-29,friday,Taco Bell,eating out,10.25
86,2023-12-29,friday,Medium,subscription,5.00
87,2023-12-29,friday,Circle K,groceries,3.54
88,2023-12-29,friday,Tlatoani Barbershop,haircut,60.00
89,2023-12-29,friday,Jesse,miscellaneous,1.00
90,2023-12-29,friday,Buffalo Wild Wings,restaurant,25.00
91,2023-12-29,friday,Valley Center Bowl,drinks,18.30
92,2023-12-29,friday,Valley Center Bowl,drinks,12.40
93,2023-12-29,friday,Lyft,rideshare,12.72
94,2023-12-29,friday,Nob Hill Foods,miscellaneous,25.69
95,2023-12-29,friday,Medium,subscription,5.00
96,2023-12-29,friday,Taco Bell,eating out,10.25
97,2023-12-30,saturday,Buffalo Wild Wings,restaurant,151.98
98,2023-12-30,saturday,Jesse,meds,50.00
99,2023-12-30,saturday,Taco Bell,eating out,9.00
100,2023-12-30,saturday,Lazy Dog Restaurant & Bar,restaurant,64.00
101,2023-12-30,saturday,Best Buy,electronics,19.69
102,2023-12-30,saturday,Lyft,rideshare,18.99
103,2023-12-30,saturday,Circle K,groceries,3.64
104,2023-12-30,saturday,Applebee's,restaurant,45.21
105,2023-12-30,saturday,Mira Mesa Crown Liquor,drinks,17.99
106,2023-12-30,saturday,Chevron,groceries,2.79
107,2023-12-30,saturday,Hyatt House,parking,16.00
108,2023-12-31,sunday,Quick Mart,drinks,12.58
109,2023-12-31,sunday,76 Fuel,groceries,3.32

Function that reads a CSV file using Pandas, then creates SQL insert queries to insert data into a PostgreSQL table.

In [18]:
processed_df.columns

Index(['date', 'day', 'description', 'category', 'amount ($)'], dtype='object')

In [39]:
def generate_insert_queries(filepath):
    # Read the CSV file
    df = pd.read_csv(filepath)
    # Creae a list of SQL insert queries
    insert_queries = []
    for idx, row in df.iterrows():
        insert_query = f"INSERT INTO sample_table (date, 'day', 'description', 'category', amount) VALUES ({row['date']}, {row['day']}, {row['description']}, {row['category']}, {row['amount']});"
        insert_queries.append(insert_query)
    # Save queries to a file for the SQL Operator to execute
    with open('./data/insert_queries.sql', 'w') as f:
        for query in insert_queries:
            f.write(f"{query}\n")

In [40]:
generate_insert_queries(file_path)

Create and test a function that removes apostrophes from strings in a Pandas column.

In [5]:
def remove_apostrophe(df, col):
    df[col] = df[col].astype(str).apply(lambda x: re.sub(r"'", "", x))
    return df

# Create testing data
data = {'text': ["this's a string", "Otter's Den", "TGIFridays", "Applebee's"]}
df = pd.DataFrame(data)
df = remove_apostrophe(df, 'text')

# Test the function
print(df)

             text
0  thiss a string
1      Otters Den
2      TGIFridays
3       Applebees

In [14]:
# End of "prototyping_notebook.ipynb"