In [13]:
# Beginning of "prototyping_notebook.ipynb"

This notebook is for prototyping the functions nnd other logic that will be used in the Personal Finance Project.

Create a simple data pipeline that will take a CSV file, clean the data, ensure proper data types then load in MySQl before Phase 2.

Initiate current directory and import the CSV file.

In [10]:
# Import all necessary libraries and module
from pathlib import Path
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# Get the current directory
current_directory=Path.cwd()
print(current_directory)

/home/joebravo/Documents/personal_finances_project

Confirmed that I am in the correct dirrectory.

In [4]:
# Navigate to directory containing file I wanted
file_path = Path('data/DEC_2023.csv')

raw_data = pd.read_csv(file_path)
raw_data['date'] = pd.to_datetime(raw_data['date']).dt.date

raw_data.head()

         date       day          description       category  amount ($)
0  2023-12-01    Friday  Tlatoani Barbershop        haircut       60.00
1  2023-12-01    Friday           Andy's Boy           meds       60.00
2  2023-12-01    Friday       Nob Hill Foods         drinks       13.43
3  2023-12-01    Friday            TicketWeb  entertainment       49.20
4  2023-12-02  Saturday                 Lyft      rideshare        6.00

Successfully imported the CSV data file and got a quick snap shot of the data.

In [5]:
raw_data.dtypes

date            object
day             object
description     object
category        object
amount ($)     float64
dtype: object

Use conditonal IF statements to check the data types of each column and then change if it's not the data type I want.

In [6]:
if raw_data.date.dtype != object:
    print("it's not an object dtype")
else:
    print("it's an object data type")

it's an object data type

Convert the day column from object to string for further data processing.

In [ ]:
# raw_data['daycolumn'] = df['column'].astype('|S') # which will by default set the length to the max len it encounters

In [7]:
raw_data.tail()

           date       day             description   category  amount ($)
105  2023-12-30  Saturday  Mira Mesa Crown Liquor     drinks       17.99
106  2023-12-30  Saturday                 Chevron  groceries        2.79
107  2023-12-30  Saturday             Hyatt House    parking       16.00
108  2023-12-31    sunday              Quick Mart     drinks       12.58
109  2023-12-31    sunday                 76 Fuel  groceries        3.32

In [9]:
# Convert 'col1' to lowercase
raw_data['day'] = raw_data['day'].str.lower()
raw_data.head()

         date       day          description       category  amount ($)
0  2023-12-01    friday  Tlatoani Barbershop        haircut       60.00
1  2023-12-01    friday           Andy's Boy           meds       60.00
2  2023-12-01    friday       Nob Hill Foods         drinks       13.43
3  2023-12-01    friday            TicketWeb  entertainment       49.20
4  2023-12-02  saturday                 Lyft      rideshare        6.00

In [12]:
raw_data['day'].unique()

array(['friday', 'saturday', 'sunday', 'monday', 'tuesday', 'wednesday',
       'thursday'], dtype=object)

In [14]:
# End of "prototyping_notebook.ipynb"